<%
   seo_title "Weller Kennels"
   seo_description ""
   seo_keywords ""
   seo_canonical "http://wellerkennels.com"
%>
<% if @banner_message.present? %>
    <div class="banner_message text-center">
      <span><%= mark_down_changes(@banner_message) %></span>
    </div>
    <div class="banner_message_hr"></div>
<% end %>
<div class="container-fluid full-height">
  <div class="row map-row">
    <div class="col-xs-12">
      <p>something</p>
    </div>
  </div>
  <div class="row banner-info-row">
    <div class="col-xs-12">
      <div class="banner-info-wrapper">
        <div class="col-xs-12 col-sm-6 text-right">

        </div>
        <div class="col-xs-12 col-sm-6 text-left">

        </div>
      </div>
    </div>
  </div>
  <div class="row podcast-info-row">
    <div class="col-xs-12 text-center intro-ribbon">
    </div>

    <div class="col-sm-7 col-xs-12">

    </div>
  </div>

</div>

